body {
    background-color: #007471;
}

h1{
    font-size: 30px;
    text-align: center;
    color: #de7471;
}

.img{
    display: flex;
    justify-content: space-around;
}
.img img{
    width: 20%;
    transition: transform .51s;
}
.img img:hover{
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5);
}

p{
    font-size: 20px;
    text-align: left;
    font-family: Helvetica, sans-serif;
}
